* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  margin-bottom: 20px;
  gap: 200px;
}

.live {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f6f6f4;
  gap: 16px;
  padding: 8px;
}

@media (max-width: 40rem) {
  .live {
    grid-template-columns: 1fr;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;

  
}
li {
  list-style: none;
}

